.loginCard{
    width: 60%;
    margin-top: 20%;
    background-color: var(--containers-background);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}