/* CZCIONKA */
@font-face{
  font-family: 'Jaro';
  src: url("../public/assets/font/Jaro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: "Jaro", sans-serif;
}